* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://www.youtube.com/img/desktop/yt_1200.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 20px;
}

span {
    color: red;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 35px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: red;
}

nav ul li a:hover {
    color: rgb(50, 117, 204);
    transition: .4s;
}

button {
    border: none;
    background: red;
    padding: 15px 32px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .4s;
}

button:hover {
    transform: scale(1.2);
    transition: .5s;
    color: red;
    background: white;
    border: 2px solid black;
}